@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
  --main-background: hsl(222, 26%, 31%);
  --toogle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --red: hsl(6, 63%, 50%);
  --red-shadow: hsl(6, 70%, 34%);
  --verydarkgreyishblue-text: hsl(221, 14%, 31%);
  --white-text: hsl(0, 0, 100%);
  --Light-grayish-orange: hsl(30, 25%, 89%);
  --Grayish-orange: hsl(28, 16%, 65%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  /* border:1px solid red; */
}

.main-body {
  font-size: 32px;
  background-color: var(--main-background);
  width: 375px;
  height: 667px;
  margin: 0 auto;
  padding: 25px 25px 25px 30px;
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  object-fit: cover;
}

.calc {
  flex: 1;
  position: relative;
  top: 5px;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.theme {
  margin-right: 30px;
  position: relative;
  top: 30px;
}

.toggle {
  position: relative;
  top: -15px;
}

.toggle .num {
  cursor: pointer;
  height: 32px;
  display: flex;
  justify-content: space-around;
}

.toggle-box {
  position: relative;
  background-color: var(--toogle-keypad-background);
  margin-top: 5px;
  border-radius: 20px;
  width: 78px;
  height: 28px;
}

.toggle-box::before {
  content: "";
  background-color: red;
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: 5px;
}

/* textarea */
.textarea {
  border: none;
  text-align: right;
  font-size: 3rem;
  font-weight: 600;
  padding: 30px 20px 30px 0;
  width: 100%;
  height: 100px;
  margin: 25px 0 20px 0;
}

/* keypads */
.keyboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}

.keypad {
  border: none;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  position: relative;

}

.lastkey {
  border: none;
  width: 132px;
  height: 60px;
  position: relative;
}

span {
  font-size: 2.2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset,
.del {
  background-color: var(--key-background);
  box-shadow: 0 5px 2px 0 var(--key-shadow);
  border: none;
}

.keyboard .keypad,
.keyboard .lastkey {
  border-radius: 5px;
}

.keyboard,
.textarea {
  border-radius: 10px;
}

/* theme1 */
.main-body {
  background-color: var(--main-background);
  color: white;
}

.textarea {
  background-color: var(--screen-background);
  color: white;
  text-align: right;
}

.keyboard {
  background-color: var(--toogle-keypad-background);
}

.keypad {
  background-color: var(--Light-grayish-orange);
  box-shadow: 0 5px 2px 0 var(--Grayish-orange);
  color: var(--verydarkgreyishblue-text);
}

.reset,
.del {
  background-color: var(--key-background);
  box-shadow: 0 5px 2px 0 var(--key-shadow);
}

.text {
  font-size: 1.3rem;
  color: white;
}

.equalto {
  background-color: var(--red);
  box-shadow: 0px 5px 2px 0 var(--red-shadow);
  color: white;
}

.toggle-box {
  background-color: var(--toogle-keypad-background);
}

.toggle-box::before {
  background-color: var(--red);
  left: 4px;
}


/* theme 2 */
body.active1 .main-body {
  background-color:hsl(0, 0%, 90%);
  color: hsl(60, 10%, 19%);
}

body.active1 .textarea {
  background-color:hsl(0, 0%, 93%);
  color:hsl(60, 10%, 19%);
}

body.active1 .keyboard {
  background-color: hsl(0, 5%, 81%);
}

body.active1 .keypad {
  background-color: hsl(45, 7%, 89%);
  box-shadow: 0 5px 2px 0 hsl(35, 11%, 61%);
  color: hsl(60, 10%, 19%);
}

body.active1 .reset,
body.active1 .del {
  background-color:hsl(185, 42%, 37%);
  box-shadow: 0 5px 2px 0 hsl(185, 58%, 25%);
}

body.active1 .text {
  font-size: 1.3rem;
  color: white;
}

body.active1 .equalto {
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0px 5px 2px 0 hsl(25, 99%, 27%);
  color: white;
}

body.active1 .toggle-box {
  background-color: hsl(0, 5%, 81%);
}

body.active1 .toggle-box::before {
  background-color: hsl(25, 98%, 40%);
  left: 28px;
}


/* theme 3 */
body.active2 .main-body {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}

body.active2 .textarea {
  background-color: hsl(268, 71%, 12%);;
  color: hsl(52, 100%, 62%);;
}

body.active2 .keyboard {
  background-color: hsl(268, 71%, 12%);
}

body.active2 .keypad {
  background-color: hsl(268, 47%, 21%);
  box-shadow: 0 5px 2px 0 hsl(290, 70%, 36%);
  color: hsl(52, 100%, 62%);
}

body.active2 .reset,
body.active2 .del {
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0 5px 2px 0 hsl(285, 91%, 52%);;
}

body.active2 .text {
  font-size: 1.3rem;
  color: white;
}

body.active2 .equalto {
  background-color:hsl(176, 100%, 44%);;
  box-shadow: 0px 5px 2px 0 hsl(177, 92%, 70%);
  color: hsl(198, 20%, 13%);;
}

body.active2 .toggle-box {
  background-color: hsl(268, 71%, 12%);
}

body.active2 .toggle-box::before {
  background-color: hsl(177, 92%, 70%);;
  left: 54px;
}